
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var list = ViewData["list"] as List<String>;
    var hieu11 = list[0];
    var hieu22 = list[1];
    var hieu33 = list[2];
}
Đây là trang Abc do Hiếu Tạo
<div>
    @hieu11
</div>
<div>
    @hieu22
</div>
<div>
    @hieu33
</div>